<ion-header class="ion-no-border">
  <ion-toolbar style="text-align: center;">
    <img src="assets/logo-3.png">
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container" style="text-align: center;">
    <img src="assets/phendhay.png">
  </div>
  <div class="wrapper">
    <div class="link">
      <ion-icon name="send-outline"></ion-icon>
      <a>phendheyjungney@gmail.com</a>
    </div>
    <div class="link">
      <ion-icon name="call-outline"></ion-icon>&nbsp;&nbsp;
      <a>17965858</a>
    </div>
    <div>
      <h3>Developed By!</h3>
      <ul>
        <li style="padding: 10px;">Ratu Tshering (tsheringratu95@gmail.com)</li>
        <li style="padding: 10px;">Jigyel Yeshi Dorji (gyeljiyeshey.dorjee@gmail.com)</li>
      </ul>
    </div>
  </div>
</ion-content>
