<ion-header class="ion-no-border">
  <ion-toolbar style="text-align: center;">
    <img src="assets/logo-2.jpg">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="button-bar">
    <ion-button color="light" (click)="btnClicked()" routerLink="/dakini"><h3><b>མཁའ་འགྲོའི་རྒྱུ་ལམ།</b></h3>&nbsp;=&nbsp;<b>Dakini Directions</b></ion-button>
  </div>

  <div class="button-bar">
    <ion-button color="light" (click)="btnClicked()" routerLink="/ritualdirection"><h3><b>བགེགས་ཀྱི་རྒྱུ་ལམ།</b></h3>&nbsp;=&nbsp;<b>Direction to <br>dispose Ritual Cakes</b></ion-button>
  </div>

  <div class="button-bar">
    <ion-button color="light" (click)="btnClicked()" routerLink="/birthsign"><h3><b>ལོ་འཁོར་བཅུ་གཉིས།</b></h3>&nbsp;=&nbsp;<b>Birth Signs</b></ion-button>
  </div>

  <div class="button-bar">
    <ion-button color="light" (click)="btnClicked()" routerLink="/eyemovement"><h3><b>མིག་འགུལ་རྟགས་པ།</b></h3>&nbsp;=&nbsp;<b>Eye Movement</b></ion-button>
  </div>

  <div class="button-bar">
    <ion-button color="light" (click)="btnClicked()" routerLink="/image1"><h3><b>ལོ་རེ་བཞིན་གྱི་ཕོ་མོ་སོ་སོའི་བབ་སྤར་ངོས་འཛིན།།</b></h3></ion-button>
  </div>

  <div class="button-bar">
    <ion-button color="light" (click)="btnClicked()" routerLink="/image2"><h3><b>སྤར་ཁ་བརྒྱད་ཀྱི་བཟང་བཞི་དང་ངན་བཞིའི།</b></h3></ion-button>
  </div>

  <div class="button-bar">
    <ion-button color="light" (click)="btnClicked()" routerLink="/image3"><h3><b>རླུང་དར་གྱི་ཁམས།</b></h3></ion-button>
  </div>
  <div class="img">
    <img src="assets/footer.png">
  </div>
</ion-content>


