ion-tab-button{
  flex-direction: row;
}

.Jomolhari{
  font-family: Jomolhari;
  font-size: 16px;
  font-weight: bolder;
}

ion-header {
  ion-toolbar{
    height: 90px;
    background-color: #0d0d0d;
  img{
    width: 450px;
  }
  }
}

ion-tab-button h1{
  padding-bottom: 10px;
  padding-left: 20px;
}

ion-col > div {
    background-color: #f7f7f7;
    border: solid 1px #ddd;
    box-sizing: 20px;
    flex-direction: row;
    text-align: center  ;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
ion-slides {
  height: 100%;
}
ion-col{
  border: 1px solid black;
}
