.Jomolhari{
  font-family: Jomolhari;
  font-size: 20px;
  padding: 10px;
}

.body{
  font-size: 15px;
  padding: 10px;
  padding-bottom: 20px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.link{
    display: flex;
    padding: 20px;
}

.wrapper {
  padding-left: 25%;
  padding-right: 25%;
}

ion-header {
  ion-toolbar{
    height: 90px;

    img{
      width: 450px;
    }
  }
}
