<ion-header class="ion-no-border">
  <ion-toolbar style="text-align: center;">
    <img src="assets/logo-5.jpg">
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="text-align: center; padding: 10px;">
    <img src="assets/about.jpg">
  </div>

  <div class="Jomolhari">
    <p>གཟའ་སྐར་འདི་བསྐྲམ་སྤེལ་བའི་ངོ་སྤྲོད།</p>

གྲྭ་ཚང་ལྷན་ཚོགས་འདི་ སྤྱི་ལོ་༡༩༨༤ ལུ་ མི་དབང་འབྲུག་རྒྱལ་༤ པ་མཆོག་གི་ བཀའ་རྒྱ་དང་འཁྲིལ་ གཞི་བཙུགས་འབད་ཡོདཔ་ཨིན། ལྷན་ཚོགས་འདི་གི་ ཕྱག་འགན་འདི་ རྒྱལ་ཁབ་ནང་འཁོད་ཀྱི་ འཕགས་པའི་དགེ་འདུན་ཚུ་གི་ ཕན་བདེའི་ཞབས་ཏོག་ གོང་འཕེལ་གཏང་ནི་དང་ ཆོས་སྡེའི་གཙུག་སྡེ་ཁག་ཚུ་ འཛིན་སྐྱོང་འབད་ནི་འདི་ཨིན།<br><br>

ལྷན་ཚོགས་དེ་ནང་ འཐུས་མི་༧ ཡོདཔ་ད་ དེ་ཡང་ ལྷན་ཚོགས་ཀྱི་ཁྲི་འཛིན་ སྐྱབས་རྗེ་རྗེ་མཁན་རིན་པོ་ཆེ་མཆོག་གིས་ དབུ་ཁྲིད་འོག་ལུ་ གཞུང་གྲྭ་ཚང་གི་ སློབ་དཔོན་རིན་པོ་ཆེ་༥ དང་ ཞི་གཡོག་ནང་ལས་ ལྷན་ཚོགས་ཀྱི་ དྲུང་ཆེན་༡ འབད་མི་ཚུ་ཨིན།<br><br>

སྐྱེ་རྫོགས་ཀྱི་རང་དབང་ལུ་ མངའ་བསྙེས་པའི་ སྡོམ་ལྡན་གྱི་དགེ་སློང་ འབྲུག་ལུགས་ཀྱི་ སྡོམ་རྒྱུན་དང་ལྡན་ཞིང་ རྡོ་རྗེ་སློབ་དཔོན་གྱི་ མཚན་ཉིད་དང་ལྡན་པའི་ སྐྱེས་བུ་དམ་པ་ ཁྱད་པར་དུ་འཕགས་པ་ཅིག་ གཞུང་གྲྭ་ཚང་གི་ སློབ་དཔོན་རིན་པོ་ཆེ་རྣམ་༥ འི་ ཞུ་བ་དང་བསྟུན་ མི་དབང་མངའ་བདག་རིན་པོ་ཆེ་མཆོག་གིས་ དཔལ་ལྡན་འབྲུག་པའི་ ཆོས་ཀྱི་དབུ་ཁྲིད་ རྗེ་མཁན་པོ་སྦེ་ བསྐོ་བཞག་གནངམ་ཨིན།<br><br>

དེ་བཟུམ་སྦེ་ གྲྭ་ཚང་ལྷན་ཚོགས་ཀྱི་ ཞུ་བ་དང་བསྟུན་ སྐྱེ་རྫོགས་ཐར་ཕྱིན་ཏེ་ རྡོ་རྗེ་སློབ་དཔོན་གྱི་མཚན་ཉིད་དང་ལྡན་པའི་ སྡོམ་ལྡན་གྱི་ སྐྱེས་བུ་དམ་པ་ཚུ་ལས་ གདམ་འཐུ་གནང་ཐོག་ལས་ སློབ་དཔོན་རིན་པོ་ཆེ་༥ བསྐོ་བཞག་གི་ ཁྲི་དར་ཚུ་ སྐྱབས་རྗེ་རྗེ་མཁན་རིན་པོ་ཆེ་མཆོག་གིས་ གནངམ་ཨིན།<br><br>

ཞབས་དྲུང་ངག་དབང་རྣམ་རྒྱལ་མཆོག་གིས་ འབྲུག་ལུ་ཆོས་སྲིད་ལུགས་གཉིས་ཀྱི་རིང་ལུགས་ འགོ་བཙུགས་གནང་ཞིནམ་ལས་ཚུར་ ད་རེས་ཁྲི་ཐོག་ལུ་ མཛད་འཕྲིན་དར་ཞིང་རྒྱས་ཏེ་ཞུགས་ ཡོད་མི་ སྐྱབས་རྗེ་རྗེ་མཁན་ སྤྲུལ་སྐུ་འཇིགས་མེད་ཆོས་གྲགས་མཆོག་ རྗེ་མཁན་ཁྲི་རབས་༧༠ པ་ཨིན།<br><br>

འབྲུག་ལུ་ གཞུང་གྲྭ་ཚང་འགོ་དང་པ་ དགེ་སློང་ཞལ་གྲངས་༣༠ དང་བཅསཔ་སྦེ་ སྤྱི་ལོ་༡༦༢༠ ལུ་ ཞབས་དྲུང་ངག་དབང་རྣམ་རྒྱལ་མཆོག་གིས་ གཞི་བཙུགས་གནང་ཞིནམ་ལས་ཚུར་ ད་ཚུན་ལུ་ གོང་འཕེལ་སྦོམ་ སོང་སྟེ་ཡོདཔ་ཨིན།<br><br>

ད་རེས་ གྲྭ་ཚང་ལྷན་ཚོགས་ཀྱིས་ གཞུང་གྲྭ་ཚང་གི་ ཐོ་བཀོད་ནང་ཡོད་པའི་ དགེ་སློང་ཞལ་གྲངས་༧,༠༢༧ དང་ མཚན་འཛིན་ཐོག་ཡོད་པའི་ དགེ་སློང་དང་ ཨ་ནེམོ་ དེ་ལས་ གཞན་ཡང་ མང་རབས་ཅིག་ ཡོད་མི་ཚུ་གི་ ཕན་བདེའི་ གནས་སྟངས་ཚུ་ འཛིན་སྐྱོང་གནང་མིའི་གྲས་ཁར་ ཨ་ནེམོ་༢༠༠ དེ་ཅིག་ཡང་ཡོདཔ་ཨིན།<br><br>

ལོ་བསྟར་འབྲུག་གི་ཟླ་ཐོ་འདི་ཡང་ གྲྭ་ཚང་ལྷན་ཚོགས་ཀྱི་ ཆོས་ཕྱོགས་ཞབས་ཏོག་ ལེ་ཤ་ཅིག་ ཡོད་མི་ཚུ་གི་གྲས་ལས་ ཅིག་ཨིནམ་ད་ ཟླ་ཐོ་དེ་ ཐིམ་ཕུག་ལུ་ཡོད་པའི་ སྤང་རི་ཟམ་པ་ རྩིས་གཞུང་སློབ་གྲྭ་གིས་ ཞུན་དག་དང་ བསྡུ་སྒྲིག་ཐོག་ བཀྲམ་སྤེལ་འབདཝ་ཨིན།<br><br>

འབྲུག་གཟའ་སྐར་འདི་ མི་སེར་སྤྱིར་བཏང་གིས་ གཞུང་གྲྭ་ཚང་ རྩིས་གཞུང་གི་ཟླ་ཐོ་ཚུ་ ལག་ལེན་འཐབ་ནིའི་ནང་ ལྷན་ཐབས་ལུ་ གཞུང་གྲྭ་ཚང་གིས་ འགོ་འདྲེན་འཐབ་ཨིན།<br><br>

ཟླ་ཐོའི་ཀི་དེབ་དང་ གཞན་མི་ རྩིས་དང་འབྲེལ་བའི་ ཞབས་ཏོག་བཞེས་འདོད་ ཡོད་མི་ཚུ་གིས་ ཐིམ་ཕུག་ སྤང་རི་ཟམ་པ་ རྩིས་གཞུང་སློབ་གྲྭ་དང་ འབྲེལ་བ་འཐབ་གནང་།: <br>

བརྒྱུད་འཕྲིན་ཨང་ +༩༧༥-༣༦༡༣༥༧/༣༦༡༣༥༨<br><br>
བསམ་འཆར་དང་ གཞན་མི་བསམ་བཤད་ཚུ་ བཀོད་ནིའི་དོན་ལུ་ གཤམ་གསལ་ཁ་བྱང་ཐོག་ལས་ འབྲེལ་བ་འཐབ་གནང་།: <br>
    <div style="text-align: center;">
གྲྭ་ཚང་ལྷན་ཚོགས།<br>
འགྲེམ་སྒྲོམ་ཨང་༢༥༤<br>
བཀྲིས་ཆོས་རྫོང་།<br>
འབྲུག་ཐིམ་ཕུག།<br>
ཡོངས་འབྲེལ་ཁ་བྱང་: dratshanglhentshog@yahoo.com <br>
བརྒྱུད་འཕྲིན་ཨང་ +༩༧༥-༣༢༢༧༥༤/༣༢༢༥༤༤
    </div>
  </div>
  <div class="body">
The Dratshang Lhentshog (Council for Religious Affairs) was established in 1984 on the Command of His Majesty, the Fourth King. It is responsible for promoting the welfare and the overall planning and administration of the National Sangha (Buddhist monastic order) and other affiliated religious institutions. <br><br>

The Council has seven members with His Holiness the Je Khenpo, the Chief Abbot of the country, as the Chairman of the Council. The other members are the Five Lopons of the Zhung Dratshang (Central Monastic Body) and the Secretary of the Council, who is a civil servant. <br><br>

 His Holiness, the Je Khenpo is appointed by His Majesty, the King of Bhutan on the recommendation of the Five Lopons, who will choose a learned and respected monk ordained in accordance with the Druk lu, with the nine qualities of a spiritual master and accomplished in ked-dzog. <br><br>

The Je Khenpo, on the recommendation of the Dratshang Lhentshog, appoints monks with the nine qualities of a spiritual master and accomplished in ked-dzog, as the Five Lopons. <br><br>

The present Je Khenpo, Trulku Jigme Choeda, is the 70th Je Khenpo in a line of merit based succession that started with the dual system of administration established by Zhabdrung Ngawang Namgyel, the founder of Bhutan, almost four centuries ago. <br><br>

Zhabdrung Ngawang Namgyel established the first Sangha in the country with 30 monks in 1620, which later grew to become the central monastic body. <br><br>

There are 7,027 monks who are formally registered on the official registration of the Zhung Dratshang. There are also several hundred monks and nuns with Tshenzin or formal registration with the Zhung Dratshang, which includes about 200 nuns. <br><br>

The Bhutanese astrological calendar (Datho) is one of the many public services that the monastic body provides and is exclusively prepared by the Pangrizampa School of Astrology in Thimphu. <br><br>

Druk Zakar is an initiative of the Dratshang Lhentshog to enhance the services of the Zhung Dratshang astrology (Datho) for use of the general public. <br><br>

For those interested in the hard copy of the full Datho and other astrological services contact: <br>
Pangrizampa Institute of Astrology <br>
Thimphu <br>
Phone No: +975-361357/361358 <br><br>
For feedback and other suggestions please contact: <br>
    <div style="text-align: center;">
Dratshang Lhentshog <br>
Post Box 254 <br>
Tashichhodzong, Thimphu <br>
Email: dratshanglhentshog@yahoo.com <br>
Phone: +975-322754/322544
    </div>
  </div>
</ion-content>