<ion-header class="ion-no-border">
  <ion-toolbar style="text-align: center;">
    <img src="assets/logo-3.png">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="text-align: center;">
  <div class="container">
    <img src="assets/phendhay.png">
  </div>
  <div class="wrapper">
    <div class="link">
      <ion-icon name="mail-outline"></ion-icon>&nbsp;&nbsp;
      <a>phendheyjungney@gmail.com</a>
    </div>
    <div class="link">
      <ion-icon name="call-outline"></ion-icon>&nbsp;&nbsp;
      <a>17965858</a>
    </div>
  </div>
</ion-content>
